%header
  .center
    %a.logo   
      //%img.logo(src="/images/logo.png")
      //%img.logo(src="/images/infinite-black.png")
      %h3 Brandon Capecci
    %nav
      %ul
        -#
          %li
            %a(href="#tagline")
              About    
          %li
            %a(href="#blog")
              Thoughts
          %li
            %a(href="#work")
              Work
        %li
          %a{:href=>"http://instagram.com/brandoncapecci", :target=>"_blank"}
            Instagram  
        %li
          %a{:href=>"https://twitter.com/bCapecci", :target=>"_blank"}
            Twitter            

    //%span.weekday
    //  Happy Friday
    //I create above average things.
