%header
  .center
    %a.logo(href="/")   
      //%img.logo(src="/images/logo.png")
      %img.logo(src="/images/infinite-black.png")
    %ul
      %li.right
        %button.post
          Post

%section
  .center
    %article
      %input#title{:name => "title", :type => "text", :placeholder => "Title"}
      %br
      %textarea#body{:name => "body", :placeholder => "Body (Markdown supported)"}