=haml :_header

%a.anchor#tagline

%section.tagline
  .center 
    .parallax
      %img.tools(src="images/tools.png")
      %h1
        I am a front-end engineer obsessed with simplicity currently living in Boston.
      /%a(href="#work")
      / %button
      /    See work
      %a{:href => "resume.pdf", :target => "_blank"}
        %button
          View CV

%section.blog  
  .center    
    %ul
      %h1.title
        Recent Thoughts

      %li
        %img(src="images/hackernews.png")
        .slide-in            
          %h2 Redesigning Hackernews 
          %h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          %button.read-more Read More

      %li  
        %img(src="images/ship.png")
        .slide-in                                
          %h2 HTML5 canvas galaxy
          %h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          %button.read-more Read More
      -#        
        %li  
          %img(src="images/king.png")            
          %h2 Designing Web Applications
          %h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          %button.read-more Read More  

        %li  
          %img(src="images/king.png")            
          %h2 Is the web a meritocracy?
          %h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          %button.read-more Read More        
        %li
          %img(src="images/colour.png")      
          %h2 Colour Psychology
          %h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          %button.read-more Read More        

%section.quote
  %h1 
    "Less but better" - Dieter Rams

/design is not just how it looks like and feels like, design is how it works - jobs dont compromise
/When you’re a one man show you have to focus on the most important thing to get done today. - Noah Everett, Founder of Twitpic
/You can’t learn in school what the world is going to do next year. - Henry Ford
/You have to make every single detail perfect. And you have to limit the number of details
/simplicity is the ultimate sophisticaion
/stop sketching, start building - dennis crowley
/an ounce of action is worth a ton of theory -    
/well do it live
/syrup on shit doesnt make a pancake
/its the life in your years
/A designer knows he has achieved perfection not when there is nothing left to add, but when there is nothing left to take away. - Antoine de Saint-Exupery
/Be Amazing. Be Revolutionary. - Blake Mycoskie

%section.work#work
  .center 
    %ul
      %h1.title
        Work

      %li
        %img.tools(src="images/feewave.png")            
        %h2 FeeWave

      %li
        %img.tools(src="images/coloursio.png")            
        %h2 Colours.io

      %li
        %img.tools(src="images/askio.png")            
        %h2 Ask.io

      %li
        %img.tools(src="images/wikipedia.png")            
        %h2 Wikipedia 

      %li
        %img.tools(src="images/beaconr.png")            
        %h2 Beaconr Wallpaper         

      %li
        %img.tools(src="images/pinkviewer.png")            
        %h2 PinkViewer 

      -#
        %li.small
          %img(src="images/spectrum.png")            
          %h2 Spectrum 

        %li.small
          %img(src="images/spectrum.png")            
          %h2 Spectrum   
        
        %li.small
          %img(src="images/ubuntu.png")            
          %h2 Ubuntu Phone Concept                      

-#
  %footer
    .green
      .center
        .fifth.recent-thoughts 
          /%img(src="/images/blog.png")
          Recent Thoughts
          %ul
            %li 
              %span •
              Redesigning Hackernews
            %li 
              %span •
              HTML5 canvas galaxy

        .fifth.music
          .equalizer
            %ul.column
              %li.bar
            %ul.column
              %li.bar
            %ul.column
              %li.bar
            %ul.column
              %li.bar
            %ul.column
              %li.bar
              
          .currently-listening 
            %img(src="/images/play.png")
            Currently listening
          .title Atomic Man
          .artist Portugal. The Man

        .fifth.miles-run
          %img(src="/images/running.png")
          .last-run Last run
          .number 2.5 mi

        .fifth.tea
          %img(src="/images/tea.png")
          .cups-of-tea 
            Cups of tea
            .number 30
          /klout score

/%section.orange














