=haml :_header

%section
  .center 
    %img.tools(src="images/tools.png")
    %h1
      I am a front-end engineer obsessed with simplicity currently living in Boston.
    %button
      See work
    %button
      More about me


  .green
    .center
      .fifth.recent-thoughts 
        /%img(src="/images/blog.png")
        Recent Thoughts
        %ul
          %li 
            %span •
            Redesigning Hackernews
          %li 
            %span •
            HTML5 canvas galaxy

      .fifth.music
        .equalizer
          %ul.column
            %li.bar
          %ul.column
            %li.bar
          %ul.column
            %li.bar
          %ul.column
            %li.bar
          %ul.column
            %li.bar
            
        .currently-listening 
          %img(src="/images/play-dark.png")
          Currently listening
        .title ZVVL
        .artist CHVRCHES

      .fifth.miles-run
        %img(src="/images/running.png")
        .last-run Last run
        .number 4.2 mi

      .fifth.tea
        %img(src="/images/tea.png")
        .cups-of-tea Cups of tea
        .number 30
      /klout score

/%section.orange
      
















































































